body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

/* header section */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second-part {
  color: #000;
}

.nav-header-list {
  font-weight: 500;
  color: #212121;
}

.nav-header-link:hover,
.nav-header-link:focus {
  color: #2196f3;
}

.nav-header-contacts-link {
  font-weight: 500;
  color: #757575;
}

/* main section */

.hidden-element {
  display: none;
}

.main-section-categories-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio-item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

/* footer section */
